<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://kit.fontawesome.com/39f8eed085.js" crossorigin="anonymous"></script>
    <title>To Do List</title>
</head>

<body>
    <main>
        <% var updatetaskId %>
        <div class="box">
            <h1>To Do List</h1>
            <div class="addTaskBox">
                <form action="/add-task" method="POST">
                    <div class="inputField">
                        <input type="text" name="title" placeholder="Title...">
                        <input type="text" name="about" placeholder="ABout...">
                    </div>
                    <button type="submit" class="add">+</button>
                </form>
            </div>

            <% if(task.length> 0) { %>
                <!-- <% var num=1%> -->
                    <div class="tasks">
                        <% for(let tasks of task) { %>
                            <div class="task" id="task<%= num %>">
                                <div class="taskDetail">
                                    <h1>
                                        <%= tasks.title %>
                                    </h1>
                                    <p class="taskInfo">
                                        <%= tasks.about %>
                                    </p>
                                    <span></span>
                                </div>
                                <div class="deleteBtn">
                                    <a href="/deletTask/<%= tasks._id %>"><button>X</button></a>
                                    <a href="/updateTask/<%= tasks._id %>"><button><i class="fa-solid fa-pen"></i></button></a>
                                </div>
                                <div class="Btn">
                                    <div class="more">
                                        <button class="morebtn">more</button>
                                    </div>
                                    <div class="btns">
                                        
                                    </div>
                                </div>
                            </div>
                            <!-- <% num=num+1 %> -->
                        <% } %>
                <% } else { %>
                            <div class="notask">
                                <h1>No Task</h1>
                            </div>
                        <% } %>
                    </div>
                
                
        </div>
        <div class="updateform">
            <div class="close">
                <a href="/"><button>X</button></a>
            </div>
            <form action="/updatetask/<%= taskId %>" method="POST">
                <input type="text" name="updatetitle" value="<%= updatetask.title %>" >
                <textarea name="updateabout" id="" cols="30" rows="5"><%= updatetask.about %></textarea>
                <button type="submit">Updata Task</button>
            </form>
        </div>
    </main>
    <script src="/js/index.js"></script>
</body>

</html>